{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingweb</title>
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_756254_fktvmzn7o2i.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{% static 'js/shoppingweb_ajax.min.js' %}"></script>
    <script src="{% static 'js/shoppingweb_alert.min.js' %}"></script>
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.min.js' %}"></script>

<script id="products-item" type="text/html">
{% verbatim %}
{{ each productses products index }}
<li>
    <div class="product-thumbnail">
        <a href="/product/{{ products.id }}/"><img src="{{ products.thumbnail }}" alt=""></a>
    </div>
    <div class="product-info">
        <p><a href="/product/{{ products.id }}/">{{ products.name }}</a></p>
        <p>{{ products.desc }}<button type="button" class="btn btn-primary">Add</button></p>
        ￥<span class="price">{{ products.price }}</span>
    </div>
</li>
{{ /each }}
{% endverbatim %}
</script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav-top">
                <li data-category="0" class="active"><a href="javascript:void(0)">Main page</a></li>
                {% for category in categories %}
                    <li data-category="{{ category.pk }}"><a href="javascript:void(0)">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="auth-box">
                <i class="icon-customer iconfont"></i>
                <a href="#">Sign In</a> /
                <a href="#">Create account</a>
            </div>
            <div class="shopping-cart">
                <i class="icon-gouwuche iconfont cart-pointer"></i>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li>
                        <a href="#"><img src="{% static 'images/1.jpg' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/2.jpg' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/3.jpg' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/4.jpg' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/5.jpg' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'images/6.jpg' %}" alt=""></a>
                    </li>
                </ul>
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
                <div class="page-control-group">
                    <ul class="page-control">
                    </ul>
                </div>
            </div>
            <div class="recommend-wrapper">
                <p class="list-title">人气推荐</p>
                <ul class="product-list" id="product-list">
                    {% for products in productses %}
                        <li>
                        <div class="product-thumbnail">
                            <a href="{% url 'home:single_product' products_id=products.pk %}"><img src="{{ products.thumbnail }}" alt=""></a>
                        </div>
                        <div class="product-info">
                            <p><a href="{% url 'home:single_product' products_id=products.pk %}">{{ products.name }}</a></p>
                            <p>{{ products.desc }}<button type="button" class="btn btn-primary">Add</button></p>
                            ￥<span class="price">{{ products.price }}</span>
                        </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="load-more-group">
                    <button id="load-more-btn" class="load-more">
                        查看更多
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="trademark">©2018 SHIQI shop welcome</div>
    </footer>
</body>
</html>