{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingweb</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_756254_fktvmzn7o2i.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{% static 'js/shoppingweb_ajax.min.js' %}"></script>
    <script src="{% static 'js/shoppingweb_alert.min.js' %}"></script>
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/product_detail.min.js' %}"></script>
<script id="products-item" type="text/html">
{% verbatim %}
{{ each productses products index }}
<li>
    <div class="product-thumbnail">
        <a href="/product/{{ products.id }}/"><img src="{{ products.thumbnail }}" alt=""></a>
    </div>
    <div class="product-info">
        <p><a href="/product/{{ products.id }}/">{{ products.name }}</a></p>
        <p>{{ products.desc }}</p>
        ￥<span class="price">{{ products.price }}</span>
    </div>
</li>
{{ /each }}
{% endverbatim %}
</script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav-top">
                <li data-category="0" class="active"><a href="{% url 'index' %}">Main page</a></li>
                {% for category in categories %}
                    <li data-category="{{ category.pk }}"><a href="{% url 'index' %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="auth-box">
                <i class="icon-customer iconfont"></i>
                <a href="#">Sign In</a> /
                <a href="#">Create account</a>
            </div>
            <div class="shopping-cart">
                <i class="icon-gouwuche iconfont"></i>
            </div>
        </div>
    </header>
    <div class="products-main">
        <div class="categories">
            <p><a href="#">Home Page</a> > <a href="#">category name</a></p>
        </div>
        <div class="products-detail">
            <ul class="products-group" id="product-list">
                {% for products in productses %}
                    <li>
                    <div class="product-thumbnail">
                        <a href="{% url 'home:single_product' products_id=products.pk %}"><img src="{{ products.thumbnail }}" alt=""></a>
                    </div>
                    <div class="product-info">
                        <p><a href="{% url 'home:single_product' products_id=products.pk %}">{{ products.name }}</a></p>
                        <p>{{ products.desc }}</p>
                        ￥<span class="price">{{ products.price }}</span>
                    </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="load-more-group">
                <button id="load-more-btn" class="load-more">
                    查看更多
                </button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="trademark">©2018 SHIQI shop we</div>
    </footer>
</body>
</html>