{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingweb</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/single.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_756254_fktvmzn7o2i.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav-top">
                <li class="active"><a href="#">Main Page</a></li>
                <li><a href="#">Household</a></li>
                <li><a href="#">Clothing,Shoes&Accessories</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Books</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-customer iconfont"></i>
                <a href="#">Sign In</a> /
                <a href="#">Create account</a>
            </div>
            <div class="shopping-cart">
                <i class="icon-gouwuche iconfont"></i>
            </div>
        </div>
    </header>
    <div class="products-main">
        <div class="categories">
            <p><a href="#">Home Page</a> > <a href="#">category name</a></p>
        </div>
        <div class="single-product">
            <div class="single-product-thumbnail">
                <img src="{% static 'images/p1.jpg' %}" alt="">
            </div>
            <div class="single-product-info">
                <p class="p-title">維他 檸檬茶250ML*24盒/箱 真茶真檸檬</p>
                <p class="p-seller">自营
                    <button type="button" class="btn btn-primary btn-add-product">Add</button>
                </p>
                <span class="p-price">￥9.9</span>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="trademark">©2018 SHIQI shop welcome</div>
    </footer>
</body>
</html>