{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingweb</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/single.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_756254_fktvmzn7o2i.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{% static 'js/shoppingweb_ajax.min.js' %}"></script>
    <script src="{% static 'js/shoppingweb_alert.min.js' %}"></script>
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav-top">
                <li data-category="0" class="active"><a href="{% url 'index' %}">Main page</a></li>
                {% for category in categories %}
                    <li data-category="{{ category.pk }}"><a href="{% url 'index' %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="auth-box">
                <i class="icon-customer iconfont"></i>
                <a href="#">Sign In</a> /
                <a href="#">Create account</a>
            </div>
            <div class="shopping-cart">
                <i class="icon-gouwuche iconfont"></i>
            </div>
        </div>
    </header>
    <div class="products-main">
        <div class="categories">
            <p><a href="#">Home Page</a> > <a href="#">category name</a></p>
        </div>
        <div class="single-product">
            <div class="single-product-thumbnail">
                <img src="{{ product.thumbnail }}" alt="">
            </div>
            <div class="single-product-info">
                <p class="p-title">{{ product.name }}</p>
                <p class="p-seller">{{ product.desc }}
                </p>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {% csrf_token %}
                            {% bootstrap_form cart_product_form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-success btn-product">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                                </button>
                            {% endbuttons %}
                        </form>
                <span class="p-price">￥{{ product.price }}</span>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="trademark">©2018 SHIQI shop welcome</div>
    </footer>
</body>
</html>